.pets {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
  text-align: center;
}

.navBar {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

.search {
  margin: 10px;
}
