.pets {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
  text-align: center;
  margin: 10px;
}

.navBar {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

.search {
  margin: 10px;
}

.allplayers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.b {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#button {
  height: 20px;
  position: relative;
  top: 10px;
}

.newFormat {
  display: flex;
  justify-content: center;
  padding: 25px;
}
